.main-tables-container {
  width: 920px;
  margin: 0 auto;
}
.product-detail__container {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  margin: 0 auto;
}
.plans-container__slider {
  justify-content: center;
}
